// set up a simulation of two lines mixed in 50:50 ratio
initialize()
{
	// Read/write population info here
	if (!exists("popFile"))
		defineConstant("popFile", "pop.txt");
	
	if (!exists("useBinaryPopfile"))
		defineConstant("useBinaryPopfile", T);
	
	// Reinitialize population and store it in popFile, or read a population for popFile?
	if (!exists("initPop"))
		defineConstant("initPop", F);
	
	// replicate size
	if (!exists("popSize"))
		defineConstant("popSize", 1250);
	
	// model genome size
	if (!exists("genomeSize"))
		defineConstant("genomeSize", 23542271); //23542271
	
	// distance between neutral mutations (= line 1 markers)
	if (!exists("markerDist"))
		defineConstant("markerDist", genomeSize/50);
	
	// final generation to simulate
	if (!exists("maxGen"))
		defineConstant("maxGen", 11);
	
	// generations where to write out the state
	if (!exists("writeOutput"))
		defineConstant("writeOutput", 11);
	
	// generations where to write out the state
	if (!exists("initFreq"))
		defineConstant("initFreq", 0.67);
	
	// generations where to write out the state
	if (!exists("domCoefs"))
		defineConstant("domCoefs", c(0.5,0.5));
	
	// Fitness Scaling to check for Epistasis
	if (!exists("epis"))
		defineConstant("epis", 1.10);
	
	//Recombination rate
	if (!exists("recomb"))
		defineConstant("recomb", 5e-8);
	
	// vcf file Path	
	if (!exists("vcfPath"))
		defineConstant("vcfPath", "sample.vcf");
	
	initializeSex("X");
	// MUTATIONS
	initializeMutationRate(0.0);
	// neutral mutations for most markers
	initializeMutationType("m1", 0.5, "f", 0.0);
//	defineConstant("targetPos0", c(1000000, 2000000));
//	defineConstant("selCoefs", c(0.1,0.1));
	
	// two ways to run simulation: specify targetPos0 and corresponding selCoefs directly,
	// or set only numTargets and selStrength, which will set targets at random positions
	// with selection coefficients drawn from gamma distributions
	
	if (exists("targetPos0") & exists("selCoefs")) {
		defineConstant("targetsGiven", T);
		defineConstant("numTargets", length(targetPos0));
		// a selected mutation for each target
		if (!exists("domCoefs"))
			defineConstant("domCoefs", rep(0.5, length(selCoefs)));
		for (i in seqLen(numTargets)) {
			initializeMutationType(paste0("m", i + 2), domCoefs[i], "f", selCoefs[i]);
		}
	} else {
		defineConstant("targetsGiven", F);
		if (!exists("numTargets"))
			defineConstant("numTargets", 10);
		defineConstant("targetPos0", sort(sample(seqLen(genomeSize), numTargets, replace=F)));
		if (!exists("selStrength"))
			defineConstant("selStrength", 0.02);
		initializeMutationType("m2", 0.5, "g", selStrength, 10);
		initializeMutationType("m3", 0.5, "g", -selStrength, 10);
	}
	// RECOMBINATION
//		rates = asFloat(readFile("/Users/vidyadheeshkelkar/Downloads/rr"));
//		ends = asInteger(readFile("/Users/vidyadheeshkelkar/Downloads/ends"));
//		initializeRecombinationRate(rates,ends);
	initializeRecombinationRate(2.589e-08);
	//	initializeRecombinationRate(5e-07);
	
	// GENOME STRUCTURE
	// TODO consider exons, introns, and nongenic regions
	if (targetsGiven) {
		allMutProbs = c(1.0, rep(0.0, numTargets));
		initializeGenomicElementType("g1", seqAlong(allMutProbs)+1, allMutProbs);
	} else {
		initializeGenomicElementType("g1", c(m1, m2, m3), c(1.0, 0.0, 0.0));
	}
	initializeGenomicElement(g1, 0, genomeSize - 1);
}

// replicates
1 late()
{
	if (initPop) {
		// set up a single population 
		sim.addSubpop("p1", popSize);
		p1.setSexRatio(0.5);
		// make sure we only get one mutation per position
		sim.mutationTypes.mutationStackGroup = 1;
		sim.mutationTypes.mutationStackPolicy = "l";
		sim.mutationTypes.convertToSubstitution = F;
		
		// all mutations go to line 1 genomes
		numFemaleGenomes = 2 * p1.firstMaleIndex;
		femaleLine1Genomes = seqLen(asInteger(initFreq * numFemaleGenomes));
		numMaleGenomes = length(p1.haplosomesNonNull) - numFemaleGenomes; // account for "X" modelling
		maleLine1Genomes = seqLen(asInteger(initFreq* numMaleGenomes)) + numFemaleGenomes;
		line1Genomes = c(femaleLine1Genomes, maleLine1Genomes);
		
		allGenomes = seqLen(length(p1.haplosomesNonNull));
		line2Genomes = setDifference(allGenomes, line1Genomes);
		
		markerPos = asInteger(seq(from=1, to=genomeSize-1, by=markerDist));
		markerType = rep(m1, length(markerPos));
		
		p1.haplosomesNonNull[c(femaleLine1Genomes, maleLine1Genomes)]
			.addNewDrawnMutation(markerType, markerPos-1);
		
		// add targets
		if (targetsGiven) {
			targetMutType = sim.mutationTypes[seqLen(numTargets) + 1];
		} else {
			targetMutType = sample(sim.mutationTypes[1:2], numTargets, replace=T);
		}
		//		p1.haplosomesNonNull[c(femaleLine1Genomes, maleLine1Genomes)]
		//			.addNewDrawnMutation(targetMutType, asInteger(targetPos0));
		
		// Target 1 → line1 genomes
//		p1.haplosomesNonNull[line1Genomes]
//			.addNewDrawnMutation(targetMutType[0], asInteger(targetPos0[0]));
//		
//		// Target 2 → line2 genomes
//		p1.haplosomesNonNull[line1Genomes]
//			.addNewDrawnMutation(targetMutType[1], asInteger(targetPos0[1]));
		///
		
		//	sim.addSubpopSplit('p2', popSize, p1);
		
		allInds = p1.individuals;
		females = allInds[allInds.sex=="F"];
		males = allInds[allInds.sex=="M"];
		
		if (initFreq == 0.33) {
		allInds.haploidGenome1.addNewDrawnMutation(targetMutType[1], asInteger(targetPos0[1]));
		females.haploidGenome2.addNewDrawnMutation(targetMutType[0], asInteger(targetPos0[0]));
		} else {
		females.haploidGenome2.addNewDrawnMutation(targetMutType[1], asInteger(targetPos0[1]));
		allInds.haploidGenome1.addNewDrawnMutation(targetMutType[0], asInteger(targetPos0[0]));
		}
		
//		if (initFreq == 0.33) {
//		females.haploidGenome1.addNewDrawnMutation(targetMutType[1], asInteger(targetPos0[1]));
//		females.haploidGenome1.addNewDrawnMutation(targetMutType[0], asInteger(targetPos0[0]));
//		} else {
//		allInds.haploidGenome1.addNewDrawnMutation(targetMutType[1], asInteger(targetPos0[1]));
//		allInds.haploidGenome1.addNewDrawnMutation(targetMutType[0], asInteger(targetPos0[0]));
//		}
		
		if (useBinaryPopfile) {
			sim.outputFull(filePath=popFile, binary=T);
		} else {
			sim.outputFull(filePath=popFile);
		}
		sim.simulationFinished();
	} else {
		sim.readFromPopulationFile(popFile);
	}
	
	// turn off substitutions
	// sim.mutationTypes.convertToSubstitution = F;
	sim.recalculateFitness();
	suppressWarnings(T);
	// schedule next state output
	print(writeOutput);
	community.rescheduleScriptBlock(s1, start=asInteger(writeOutput[0]), end=asInteger(writeOutput[0]));
	defineGlobal("nextWriteIdx", 0);

}

//2: late(){
//	inds=p1.individuals;
//	if (exists("m2")) {
//		for (ind in inds){
//			if (ind.sex == "F") {
//				if (sum(ind.haplosomesNonNull.countOfMutationsOfType(m2))>0 & sum(ind.haplosomesNonNull.countOfMutationsOfType(m3))>0){
//					ind.fitnessScaling = epis;
//				} else if (ind.sex == "M"){
//					if (ind.haplosomesNonNull.countOfMutationsOfType(m2)>0 & sum(ind.haplosomesNonNull.countOfMutationsOfType(m3))>0){
//						ind.fitnessScaling = epis;
//					}
//				}
//			}
//		}
//	}
//}
	

//mutationEffect(m2) {	
//	if (sum(individual.countOfMutationsOfType(m3))>0 & sum(individual.countOfMutationsOfType(m2))>0)
//	return 1.1 ;
//	else 
//	return effect;
//	}
//	
//mutationEffect(m3) {
//	if (sum(individual.countOfMutationsOfType(m3))>0 & sum(individual.countOfMutationsOfType(m2))>0)
//	return 1.1;
//	else 
//	return effect;
//	}

// script block to output mutation counts and finish the simulation
s1 99999 late()
{
	p1.species.outputFull();
	//p1.outputVCFSample(500, replace = F, requestedSex="*", filePath = vcfPath);
	//catn(pos + "\t" + ac + "\t" + dp + "\t" + generation + "\t" + "A");
	p1.species.outputFixedMutations();
	if (community.tick >= maxGen)
		sim.simulationFinished();
	// maybe schedule next log event
	nextWriteIdx = nextWriteIdx + 1;
	if (length(writeOutput) > nextWriteIdx)
		community.rescheduleScriptBlock(s1,
		start=asInteger(writeOutput[nextWriteIdx]),
		end=asInteger(writeOutput[nextWriteIdx]));
}

